---
import type { CollectionEntry } from "astro:content";
import Navbar from "../components/Navbar";
import ThemeToggle from "../components/ThemeToggle";
import Layout from "../layouts/Layout.astro";

export interface Props {
    title: string;
    docs?: CollectionEntry<"docs">[];
}

const { title, docs } = Astro.props;
---

<Layout title={title} docs={docs}>
    <div class="flex h-screen overflow-hidden">
    <div
        class="top-0 left-0 h-screen w-1/5 min-w-fit overflow-y-auto overflow-x-hidden 
      scrollbar-thin  scrollbar-thumb-slate-400 scrollbar-thumb-rounded-full dark:scrollbar-thumb-slate-600"
      >
    <Navbar docs={docs} />
    </div>
    <div class="w-full overflow-auto flex-col md:p-8 py-2">
        <div class="flex justify-end h-2">
            <ThemeToggle client:only />
        </div>
        <slot />
    </div>
</div>
</Layout>
