---
import type { CollectionEntry } from "astro:content";

export interface Props {
    title: string;
    docs?: CollectionEntry<"docs">[];
}

const { title, docs } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/actlabs_logo.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-slate-100 dark:bg-slate-900 min-h-screen mx-2 md:mx-4 2xl:mx-32 lg:mx-24">
        <header></header>
        <main class="">
            <slot />
        </main>
    </body>
</html>
<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    if (theme === "light") {
        document.documentElement.classList.remove("dark");
    } else {
        document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
</script>
